* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-family: "Jost";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.logo img {
    height: 2rem;
    width: auto;
}

.search .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search .content {
    display: flex;
    justify-content: center;
    width: 100%;

}

.search .option {
    text-align: center;
}

.search form {
    width: 50%;
    padding: 2rem;
}

.search input[type=text] {
    width: 80%;
    height: 2rem;
    border-radius: 2%;
    border: none;
    color: rgb(36, 36, 36);
    padding-left: 1rem;
}

.search input[type=submit] {
    height: 2rem;
    width: 18%;
    border-radius: 2%;
    border: none;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 0.5rem;
}

.movie .content {
    display: flex;
    flex-direction: column;

}

.movie img {
    display: block;
    float: right;
}

ul {
    list-style-type: none;
}

.movie li {
    text-decoration: none;
}

.movie-list a {
    text-decoration: none;
    color: white;
    width: 100%;
}

.movie-list a:hover {
    background-color: black;
}

.card-container {
    padding: 0rem 1rem;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.movie-title {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.movie-plot {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

footer {
    z-index: -2;
    background-color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-top: auto;
}

footer .container {
    display: flex;
    align-items: center;
    color: rgb(36, 36, 36);
}